/* Fonts */

@font-face {
  font-family: 'GeosansLight';
  src: url('../fonts/GeosansLight.ttf');
}

/* general */

* {
	padding: 0;
	border: 0;
	margin:0
}

body {
	min-height:  100vh;
	height: 100%;
	background-image: linear-gradient(#000000, #444444);
	font-family:  Arial, sans-serif;
	color: #dfdfdf;
}

h1 {
	font-family: GeosansLight;
	font-weight: 10;
	text-transform: uppercase;
	color:  #dfdfdf;
	text-align:  center;
	font-size:  3em;
	letter-spacing: 20px;
	text-shadow: 0px 0px 3px #ffffff, 0px 0px 6px #ffffff, 0px 0px 9px #ffffff;
}


img#portrait {
	display: block;
	max-width: 80vw;
	max-height: 80vh;
	margin: 0 auto;
}

.social-container {
	text-align: center;
}

.social-container li {
	list-style: none  ;
	display: inline-block;
	margin: 1rem;
}

.social-container li i {
	font-size: 3rem;
	color: #dfdfdf;
}

.social-container li a:hover {
	text-shadow: 0px 0px 2px #dfdfdf, 0px 0px 4px #dfdfdf;
	cursor: pointer;
}

.copyright {
	text-align: center;
	font-size: 1em;
	color: #9f9f9f;
}